# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.vscode
*.json
*.jpg
*.png
images/
*.sqlite3
media/
*.log
*.pot
*.pyc

local_settings.py
db.sqlite3
db.sqlite3-journal

*.pdf
*.docx
*2조_WBS.xlsx
*변수 리스트 및 데이터셋 구성.xlsx
회의메모 및 자료조사/
기타/
PPT, 포트폴리오/